In [13]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,precision_score,f1_score

In [14]:
data=pd.read_csv("landslide.csv")
data.tail(10)

     height  slope  rainfall  landslide
137   52.49   8.66     44.32          0
138  144.35  18.88     23.00          0
139   78.74  13.46    218.95          1
140  160.76  10.27    218.95          1
141  167.32  17.69     13.00          0
142   59.05  17.00    218.95          1
143  164.04  20.49     35.00          0
144  167.32  12.00      0.00          0
145   52.49   8.66    218.95          1
146  144.35  18.88    218.95          1

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   height     147 non-null    float64
 1   slope      147 non-null    float64
 2   rainfall   147 non-null    float64
 3   landslide  147 non-null    int64
dtypes: float64(3), int64(1)
memory usage: 4.7 KB

In [16]:
data.describe()

           height       slope    rainfall   landslide
count  147.000000  147.000000  147.000000  147.000000
mean    82.559932   20.638776   89.348211    0.537415
std     45.491600    8.767170   78.054820    0.500303
min     13.000000    8.100000    0.000000    0.000000
25%     52.745000   12.728000   23.860000    0.000000
50%     78.740000   18.880000   77.000000    1.000000
75%     98.000000   28.945000  134.000000    1.000000
max    223.090000   48.000000  248.920000    1.000000

In [17]:
data.corr()

             height     slope  rainfall  landslide
height     1.000000  0.276745  0.051028  -0.001930
slope      0.276745  1.000000 -0.066907   0.100330
rainfall   0.051028 -0.066907  1.000000   0.785577
landslide -0.001930  0.100330  0.785577   1.000000

In [18]:
#here there is no missing values and significant outliers so we proceed with train test split
x=data.drop('landslide',axis=1)
y=data["landslide"]
print(x.shape,y.shape)

(147, 3) (147,)

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=15)

In [20]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((117, 3), (30, 3), (117,), (30,))

In [21]:
#logistic regression
log = LogisticRegression()
model1 = log.fit(x_train,y_train)

In [22]:
y_pred=model1.predict(x_test)
print("Accuracy : ",accuracy_score(y_test,y_pred))
print("Precision: ",precision_score(y_test,y_pred))
print("F1_Score:",f1_score(y_test,y_pred))

Accuracy :  1.0
Precision:  1.0
F1_Score: 1.0

In [23]:
dt=DecisionTreeClassifier()
model2=dt.fit(x_train,y_train)
y_pred=model2.predict(x_test)
print("Accuracy : ",accuracy_score(y_test,y_pred))
print("Precision: ",precision_score(y_test,y_pred))
print("F1_Score:",f1_score(y_test,y_pred))

Accuracy :  1.0
Precision:  1.0
F1_Score: 1.0

In [24]:
svm=SVC()
model3=svm.fit(x_train,y_train)
y_pred=model3.predict(x_test)
print("Accuracy : ",accuracy_score(y_test,y_pred))
print("Precision: ",precision_score(y_test,y_pred))
print("F1_Score:",f1_score(y_test,y_pred))

Accuracy :  1.0
Precision:  1.0
F1_Score: 1.0

In [25]:
import pickle
# Save the model to a file
with open('model.pkl', 'wb') as file:
    pickle.dump(model1, file)