In [23]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,precision_score,f1_score

In [25]:
data=pd.read_csv("landslide.csv")
data.head()

   height   slope  rainfall  landslide
0    13.0  10.000    248.92          1
1    65.0  12.000    100.60          1
2    53.0  14.870     77.98          1
3   133.0  18.000    248.92          1
4    63.0  12.456     20.00          0

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   height     147 non-null    float64
 1   slope      147 non-null    float64
 2   rainfall   147 non-null    float64
 3   landslide  147 non-null    int64
dtypes: float64(3), int64(1)
memory usage: 4.7 KB

In [29]:
data.describe()

           height       slope    rainfall   landslide
count  147.000000  147.000000  147.000000  147.000000
mean    82.559932   20.638776   89.348211    0.537415
std     45.491600    8.767170   78.054820    0.500303
min     13.000000    8.100000    0.000000    0.000000
25%     52.745000   12.728000   23.860000    0.000000
50%     78.740000   18.880000   77.000000    1.000000
75%     98.000000   28.945000  134.000000    1.000000
max    223.090000   48.000000  248.920000    1.000000

In [45]:
data.corr()

             height     slope  rainfall  landslide
height     1.000000  0.276745  0.051028  -0.001930
slope      0.276745  1.000000 -0.066907   0.100330
rainfall   0.051028 -0.066907  1.000000   0.785577
landslide -0.001930  0.100330  0.785577   1.000000

In [31]:
#here there is no missing values and significant outliers so we proceed with train test split
x=data.drop('landslide',axis=1)
y=data["landslide"]
x.shape,y.shape

((147, 3), (147,))

In [33]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [35]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((117, 3), (30, 3), (117,), (30,))

In [47]:
#logistic regression
log=LogisticRegression()
model1=log.fit(x_train,y_train)
y_pred=model1.predict(x_test)
print("Accuracy : ",accuracy_score(y_test,y_pred))
print("Precision: ",precision_score(y_test,y_pred))
print("F1_Score:",f1_score(y_test,y_pred))

Accuracy :  0.9666666666666667
Precision:  0.95
F1_Score: 0.9743589743589743

In [49]:
dt=DecisionTreeClassifier()
model2=dt.fit(x_train,y_train)
y_pred=model2.predict(x_test)
print("Accuracy : ",accuracy_score(y_test,y_pred))
print("Precision: ",precision_score(y_test,y_pred))
print("F1_Score:",f1_score(y_test,y_pred))

Accuracy :  0.9666666666666667
Precision:  0.95
F1_Score: 0.9743589743589743

In [51]:
svm=SVC()
model3=svm.fit(x_train,y_train)
y_pred=model3.predict(x_test)
print("Accuracy : ",accuracy_score(y_test,y_pred))
print("Precision: ",precision_score(y_test,y_pred))
print("F1_Score:",f1_score(y_test,y_pred))

Accuracy :  0.9666666666666667
Precision:  0.95
F1_Score: 0.9743589743589743

In [55]:
#These classification models gives almost same value for the evaluation metrics so we randomly choose 
#logistic regression as our model
import pickle
# Save the model to a file
with open('model.pkl', 'wb') as file:
    pickle.dump(model1, file)